<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
</head>
<body>
    <header>
        <div class="row">
            <div>
                <img src="/logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li>
                        <a href="./home.ejs">home</a>
                    </li>
                    <li>
                        <a href="./form.ejs">form</a>
                    </li>
                    <li>
                        <a href="./login.ejs">login</a>
                    </li>
                    <li>
                        <a href="./signup.ejs">signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <form id="form">
        <input type="text" id="name" placeholder="name" />
        <input type="number" id="grid" placeholder="grid" />
        <input type="text" id="course" placeholder="course" />
        <input type="number" id="number" placeholder="number" />
        <input type="text" id="city" placeholder="city" />
        <input type="submit" />
      </form>
      <source src="../public/index.js">
</body>
</html>